<br>
<%= form_for task do |f| %>
<ul>

     <li>Name        : <%= f.text_field  :name %></li>
     <li>Description : <%= f.text_field  :description %></li>

     <%= f.submit "Update" %>    

</ul> 
<% end %>
