<br>
<p> Task_form </p>

<%= form_for select_tasks do |f| %>
<ul>

     <%= f.fields_for :tasks do |builder| %>
       <%= render 'task_item', f: builder %>

     <%= f.submit "Update" %>    

</ul> 
<% end %>
<% end %>

